#root {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

.App-body {
  background-image: linear-gradient(rgba(45, 38, 94, 0.219), rgba(11, 46, 87, 0.404)), url('./components//imgs//vector.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .wrapper {
  padding: 20px;
}
}

@media (max-width: 948px) {
  .App-body {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .content{
    position: absolute;
    margin-top: 10%;
    margin-left: 16%;
    max-width: 730px;
    color: white;
}
}