.edit-book{
    background: transparent;
    transform: translate(20px,30px);
}
.edit-book input{
    border: 1px solid rgba(0, 0, 0, 0.205);
    background: transparent;
}
.edit-book input:focus{
    border: none;
    background: transparent;
}
.btn1{
    background: rgb(145, 40, 58);
}
.btn1:hover{
    background: rgb(116, 21, 37);
}